<div id = "footer">
  <marquee class= "footer-text">
    <span>Je vous remercie d'avoir pris le temps de me lire et serais ravie d'avoir vos retours et conseils pour l'améliorer ! / </span>
    <span>C'était mon tout premier cas, je me suis éclatée à découvrir pleins de nouvelles choses. MERCI pour ce très chouette exercice ! /</span>
    <span>Si vous souhaitez en savoir plus sur mon parcours, vous me trouverez <a href="https://claireguillou.com/">ici</a> /</span>
    <span>Je vous laisse avec ma citation préférée : <i>"Je pense que tout est possible à qui rêve, ose, travail et n’abandonne jamais." Xavier Dolan</i></span>
  </marquee>
</div>
