#footer{
  position: relative;
  height: 5rem;
  max-width: 100%;
  overflow: hidden;
  background: #ffcd1a;
}

.footer-text{
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 5rem;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.footer-text a{
  color:#fff;
}

//** RESPONSIVE
@media (min-width: 100px) and (max-width: 768px) {
   #footer{
    height: 3rem;
  }

  .footer-text{
    line-height: 3rem;
    font-size: 18px;
  }
}
